<!DOCTYPE html>
<html>
    <head>
        <title>Mad Libs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>A fantastical adventure</h1>
            <p>One day, @Model.GetPerson1() and @Model.GetPerson2() were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclamation()!" @Model.GetPerson1() cried. The two of them @Model.GetVerb1() as quickly as possible, and when they were safe, @Model.GetPerson1() and @Model.GetPerson2() gave each other a giant @Model.GetNoun1(). Unfortunately, a new foe in the form of a @Model.GetNoun2() soon appeared. "@Model.GetExclamation()!" @Model.GetPerson1() cried once again. "Let's @Model.GetVerb2()!" @Model.GetPerson2() shouted. And so @Model.GetPerson1() and @Model.GetPerson2() @Model.GetVerb3() with all haste.</p>
        </div>
    </body>
</html>
